
<div class="container-fluid">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h2>Contact Details</h2>
            <img src="" alt="" class="img-responsive">
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Contact Details</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group">
             <button 
                type="button" 
                class="btn btn-primary dropdown-toggle">Manage Contact <span 
                class="caret"></span> 
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Add to shopping list</a></li>
                <li><a href="#">Edit contact</a></li>
                <li><a href="#">Delete contact</a></li>
            </ul>
        </div>
    </div>
</div>
