<div class="panel panel-default">
    <div class="panel-heading">
        <div class="clearfix">
            <span class="pull-right">
                <button class="btn btn-success" [routerLink]="'new'">New Contact</button>
               </span>
        <h3>Contacts</h3>
        </div>
    </div>
<div class="panel-body">
<div class="row">
    <div class="col-xs-12">
      <app-contact-item 
      *ngFor="let contact of contacts"
      [contact]="contact"
      dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']"
      ></app-contact-item>
    </div>
    </div>
  </div>



